apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "driftd.fullname" . }}-config
  labels:
    app.kubernetes.io/name: {{ include "driftd.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  config.yaml: |
{{ toYaml .Values.config | indent 4 }}
