apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "driftd.fullname" . }}-worker
  labels:
    app.kubernetes.io/name: {{ include "driftd.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: worker
spec:
  replicas: {{ .Values.worker.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "driftd.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: worker
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "driftd.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/component: worker
    spec:
      containers:
        - name: driftd
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: ["worker", "-config", "/etc/driftd/config.yaml"]
          volumeMounts:
            - name: config
              mountPath: /etc/driftd
            - name: data
              mountPath: /data
            - name: cache
              mountPath: /cache
          {{- with .Values.worker.extraVolumeMounts }}
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.worker.envFrom }}
          envFrom:
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.worker.extraEnv }}
          env:
{{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
{{- toYaml .Values.worker.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: {{ include "driftd.fullname" . }}-config
        - name: data
          persistentVolumeClaim:
            claimName: {{ if .Values.storage.data.existingClaim }}{{ .Values.storage.data.existingClaim }}{{ else }}{{ include "driftd.fullname" . }}-data{{ end }}
        - name: cache
          persistentVolumeClaim:
            claimName: {{ if .Values.storage.cache.existingClaim }}{{ .Values.storage.cache.existingClaim }}{{ else }}{{ include "driftd.fullname" . }}-cache{{ end }}
      {{- with .Values.worker.extraVolumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      nodeSelector:
{{- toYaml .Values.worker.nodeSelector | nindent 8 }}
      tolerations:
{{- toYaml .Values.worker.tolerations | nindent 8 }}
      affinity:
{{- toYaml .Values.worker.affinity | nindent 8 }}
