apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "driftd.fullname" . }}-server
  labels:
    app.kubernetes.io/name: {{ include "driftd.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: server
spec:
  replicas: {{ .Values.server.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "driftd.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "driftd.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/component: server
    spec:
      serviceAccountName: {{ include "driftd.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
{{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
{{- toYaml .Values.server.podSecurityContext | nindent 8 }}
      containers:
        - name: driftd
          image: "{{ include "driftd.image" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
{{- toYaml .Values.server.securityContext | nindent 12 }}
          args: ["serve", "-config", "/etc/driftd/config.yaml"]
          ports:
            - containerPort: 8080
              name: http
          {{- if .Values.server.readinessProbe.enabled }}
          readinessProbe:
{{- omit .Values.server.readinessProbe "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- if .Values.server.livenessProbe.enabled }}
          livenessProbe:
{{- omit .Values.server.livenessProbe "enabled" | toYaml | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: config
              mountPath: /etc/driftd
            - name: data
              mountPath: /data
            - name: cache
              mountPath: /cache
          {{- with .Values.server.extraVolumeMounts }}
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.server.envFrom }}
          envFrom:
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.server.extraEnv }}
          env:
{{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
{{- toYaml .Values.server.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: {{ include "driftd.fullname" . }}-config
        - name: data
          persistentVolumeClaim:
            claimName: {{ if .Values.storage.data.existingClaim }}{{ .Values.storage.data.existingClaim }}{{ else }}{{ include "driftd.fullname" . }}-data{{ end }}
        - name: cache
          persistentVolumeClaim:
            claimName: {{ if .Values.storage.cache.existingClaim }}{{ .Values.storage.cache.existingClaim }}{{ else }}{{ include "driftd.fullname" . }}-cache{{ end }}
      {{- with .Values.server.extraVolumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      nodeSelector:
{{- toYaml .Values.server.nodeSelector | nindent 8 }}
      tolerations:
{{- toYaml .Values.server.tolerations | nindent 8 }}
      affinity:
{{- toYaml .Values.server.affinity | nindent 8 }}
